@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Roboto+Slab:wght@200;500&display=swap');

$yellow: #efd728;
$lightYellow: #f6e794;

$plum: #30284f;
$lightPlum: #483B76;
$ultraLightPlum: #7f72b5;
$plumAlpha: rgba(48, 40, 79, 1);
$plumReducedAlpha: rgba(48, 40, 79, .85);
$blackReducedAlpha: rgba(20, 20, 18, .85);

$orange: #cb5d2f;
$lightOrange: #d27841;

$white: #f9f7f3;
$darkBlack: #030100;
$black: #141412;

$montserrat: "Montserrat Alternates";
