@import "/src/assets/styles/scss/_variables.scss";

body, *, *::after, *::before{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: Roboto Slab, sans-serif;
  font-weight: 500;
}
body {
  background-color: #f6f5f0;
  color: #30284f;
  overflow-x: hidden;
}
html{
  scroll-behavior:smooth;
  overflow: visible;
}